<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
     <title>My Python APP</title>
     <link rel="stylesheet" href= "../static/styles.css">
</head>
<body>
    <ul>
        <li>Home</li>
        <li>About</li>
        <li>Login</li>
    </ul>

    <h1 id="title">Programming Languages</h1>
    <div id="content">
        <table>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Age</th>
                <th>Bio</th>
            </tr>
            <tr>
               <td> <img src= "https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/220px-Python-logo-notext.svg.png"></td>
               <td>Python</td>
               <td>30</td>
               <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lacinia turpis sed velit varius, dapibus eleifend purus eleifend. Cras ligula ipsum, efficitur sed sapien egestas, dictum porta mi. Nunc aliquam, augue id auctor gravida, massa quam dignissim est, ut iaculis eros ante ut nisl. Nam dictum imperdiet lorem, vel suscipit libero imperdiet in. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean condimentum mollis nibh a ultrices. Proin id gravida arcu, nec consectetur mauris. Proin ipsum nisi, tristique quis placerat id, fermentum at eros. Vestibulum vehicula vehicula consequat.</td>
            </tr>
            <tr>
                <td> <img src = "https://upload.wikimedia.org/wikipedia/commons/archive/6/6a/20120221235432%21JavaScript-logo.png"> </td>
                <td>JavaScript</td>
                <td>40</td>
                <td> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lacinia turpis sed velit varius, dapibus eleifend purus eleifend. Cras ligula ipsum, efficitur sed sapien egestas, dictum porta mi. Nunc aliquam, augue id auctor gravida, massa quam dignissim est, ut iaculis eros ante ut nisl. Nam dictum imperdiet lorem, vel suscipit libero imperdiet in. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean condimentum mollis nibh a ultrices. Proin id gravida arcu, nec consectetur mauris. Proin ipsum nisi, tristique quis placerat id, fermentum at eros. Vestibulum vehicula vehicula consequat.</td>
            </tr>
        </table>
    </div>
</body>





</html>